@model int
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Đơn hàng đã được đặt thành công</h2>
                    <p class="card-text">Đơn hàng của bạn với mã số <strong>@Model</strong> đã được đặt thành công.</p>
                </div>
            </div>
        </div>
    </div>
</div>

